<div class="principal">
  <h5>Execução de Script em Servidores</h5>
  <input type="checkbox" [(ngModel)]="marcaItens" (click)="marcaTodos()"/>Todos
    <div class="row">
      <div class="col-sm">
        <table class="table table-sm table-bordered" id="tab1">
          <thead>
            <th>Host</th>
            <th>Database</th>
          </thead>
          <tbody>
            <tr>
              <td>{{itens1[0].numero}}. <input type="checkbox" [(ngModel)]="itens1[0].marcado"> {{itens1[0].host}}</td>
              <td>{{itens1[0].database}}</td>
            </tr>
         <!--  <tr>
              <td>{{itens1[1].numero}}. <input type="checkbox" [(ngModel)]="itens1[1].marcado"> {{itens1[1].host}}</td>
              <td>{{itens1[1].database}}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table table-sm table-bordered" id="tab2">
          <thead>
            <th>Host</th>
            <th>Database</th>
          </thead>
          <tbody>
            <tr>
              <td>{{itens2[0].numero}}. <input type="checkbox" [(ngModel)]="itens2[0].marcado"> {{itens2[0].host}}</td>
              <td>{{itens2[0].database}}</td>
            </tr>
         <!-- <tr>
              <td>{{itens2[1].numero}}. <input type="checkbox" [(ngModel)]="itens2[1].marcado"> {{itens2[1].host}}</td>
              <td>{{itens2[1].database}}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table table-sm table-bordered" id="tab3">
          <thead>
            <th>Host</th>
            <th>Database</th>
          </thead>
          <tbody>
            <tr>
              <td>{{itens3[0].numero}}. <input type="checkbox" [(ngModel)]="itens3[0].marcado"> {{itens3[0].host}}</td>
              <td>{{itens3[0].database}}</td>
            </tr>
         <!--  <tr>
              <td>{{itens3[1].numero}}. <input type="checkbox" [(ngModel)]="itens3[1].marcado"> {{itens3[1].host}}</td>
              <td>{{itens3[1].database}}</td>
            </tr>  -->
          </tbody>
        </table>
      </div>

      <div class="col-sm">
        <table class="table table-sm table-bordered" id="tab4">
          <thead>
            <th>Host</th>
            <th>Database</th>
          </thead>
          <tbody>
            <tr>
              <td>{{itens4[0].numero}}. <input type="checkbox" [(ngModel)]="itens4[0].marcado"> {{itens4[0].host}}</td>
              <td>{{itens4[0].database}}</td>
            </tr>
        <!--<tr>
              <td>{{itens4[1].numero}}. <input type="checkbox" [(ngModel)]="itens4[1].marcado"> {{itens4[1].host}}</td>
              <td>{{itens4[1].database}}</td>
            </tr>   -->
          </tbody>
        </table>
    </div>
  </div>

  <br/> Comando <button type="button" class="btn btn-primary btnPadrao" (click)="enviaAcao()">Executa</button> <br/>
  <textarea [(ngModel)]='comando'></textarea>
  <br/>
  <br/> Saida <button (click)="limpaSaida()" class="btn btn-primary btnPadrao"> Limpa</button> <br/>
  <textarea>{{saida}}</textarea>

</div>