/* You can add global styles to this file, and also import other style files */
.principal {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.table-sm td, .table-sm th {

    padding: .4
    rem;
    font-size: 80%;
}

.table td, .table th {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

input[type="checkbox"] {
    vertical-align: middle;
}

textarea {
    resize: horizontal;
    width: 100%;
    min-height: 150px;
    font-size: 13px;
}

.btnPadrao {
    margin: 5px;
}